*{
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  padding: 40px;
  background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.gridContainer{
  display: grid;
  width: 100%;
  justify-content: center;
  margin: auto;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill,300px);
}
.cardItem{
  width: 300px;
  height: 300px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  overflow: hidden;
  margin-right: 10px;
}
.cardItem>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fragmentAdd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.inputText{
  padding: 5px 20px;
  outline: none;
  border-radius: 10px;
}